name: Java CI
on: push
env: # Set the secret as an input
  github_username: ${{ secrets.DOCKER_USERNAME }}
  github_password: ${{ secrets.DOCKER_PASSWORD }}
jobs:
  Clone-down:
    name: Clone down repo
    runs-on: ubuntu-latest
    container: gradle:6-jdk11
    steps:
    - uses: actions/checkout@v4
    - name: Upload Repo
      uses: actions/upload-artifact@v4
      with:
        name: code
        path: .
        include-hidden-files: true
  Test:
    runs-on: ubuntu-latest
    needs: Clone-down
    container: gradle:6-jdk11
    steps:
    - name: Download code
      uses: actions/download-artifact@v4
      with:
        name: code
        path: . 
    - name: Test with Gradle
      run: chmod +x ci/unit-test-app.sh && ci/unit-test-app.sh
  Build:
    runs-on: ubuntu-latest
    needs: Clone-down
    container: gradle:6-jdk11
    steps:
    - name: Download code
      uses: actions/download-artifact@v4
      with:
        name: code
        path: .
    - name: Build with Gradle
      run: chmod +x ci/build-app.sh && ci/build-app.sh

  sonarqube:
    runs-on: ubuntu-latest
    container: gradle:6-jdk11
    needs: Build
    steps:
    - name: Download code
      uses: actions/download-artifact@v4
      with:
        name: code
        path: .
    
    - name: Build for SonarQube (if needed)
      run: chmod +x ci/build-app.sh && ci/build-app.sh
    
    - name: SonarCloud Scan
      uses: SonarSource/sonarcloud-github-action@v5.0.0
      with:
        projectKey: test-org-2025-1
        organization: test-org-2025
      env:
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
